# Сборка
dist/
build/
coverage/
.nyc_output/

# Зависимости
node_modules/

# Кэш и временные файлы
.eslintcache
*.log
.DS_Store
Thumbs.db

# Конфигурационные файлы
*.config.js
*.config.ts

# Публичные файлы
public/

# Минифицированные файлы
*.min.js
*.min.css

# Документация
docs/

# Локальные переменные окружения
.env.local
.env.development.local
.env.test.local
.env.production.local
